node_modules
npm-debug.log
dist
.git
.gitignore
README.md
.vscode
.angular
src
public
proxy.conf.js
angular.json
tailwind.config.js
tsconfig.json
tsconfig.app.json
.eslintrc.json
.prettierrc
.editorconfig
.env
backend/logs
backend/.env
